<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique des Réservations</title>
</head>
<body>
    <h1>Historique des Réservations</h1>
    <ul>
        {% for reservation in reservations %}
        <li>
            <p>Départ: {{ reservation.lieu_depart }}</p>
            <p>Destination: {{ reservation.lieu }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
